[Unit]
Description=RPi Multi Recorder
After=systemd-udev-settle.service sound.target
Wants=systemd-udev-settle.service

[Service]
Type=simple
WorkingDirectory=/home/hcenteno/rpi_multirec
ExecStartPre=/bin/sh -c 'for i in $(seq 1 10); do grep -Eq " exfat(|-fuse) " /proc/mounts && exit 0; sleep 1; done; exit 0'
ExecStart=/home/hcenteno/rpi_multirec/build/rpi_multirec --hat-ui --mic spcmic
Restart=on-failure
RestartSec=2
User=root
Group=root
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
